.position {
  border: 1px solid black;

  height: 50px;
  width: 50px;
  background-color: #e8dacc;

  display: flex;
  justify-items: center;
  align-items: center;
}

#map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.blocked-pos {
  border: unset;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.dice {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
}

nav {
  margin: 10px;
}

.player {
  width: 20px;
  height: 20px;
  border: 3px solid;
  border-radius: 15px;
}

.position.blue .player.blue {
  border-color: white;
}

.highlighted {
  background-color: purple;
  cursor: pointer;
}

.cant-roll {
  cursor: not-allowed;
}

.c-pointer {
  cursor: pointer;
}
