body {
  font-family: "Courier New", Courier, monospace;
}

.position {
  border: 1px solid black;

  height: 50px;
  width: 50px;
  background-color: #e8dacc;

  display: flex;
  justify-items: center;
  align-items: center;
}

#map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.blocked-pos {
  border: unset;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.dice {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
}

nav {
  margin: 10px;
}

.player {
  width: 20px;
  height: 20px;
  border: 3px solid;
  border-radius: 15px;
}

.position.blue .player.blue {
  border-color: white;
}

.highlighted {
  background-color: purple;
  cursor: pointer;
}

.cant-roll {
  cursor: not-allowed;
}

.c-pointer {
  cursor: pointer;
}

.map-row {
  display: flex;
  flex-wrap: nowrap;
}

.home {
  height: 300px;
  width: 250px;
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-collection {
  display: flex;
  flex-direction: column;
  gap: 30%;
}

.game-content {
  display: flex;
  gap: 5px;
  height: 100%;
}

.home-pin {
  width: 100px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-pin .player {
  border: 4px solid;
  width: 30px;
  height: 30px;
}

.msg-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  display: none;
}

.msg-backdrop {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
  background-color: #e8dacc;
  width: 50%;
  height: 50%;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msg-message {
  text-align: center;
  height: 80%;
  width: 100%;
  padding: 10px;
  font-size: 23px;
  font-weight: bold;
}

.msg-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg-confirm-btn {
  min-width: 100px;
}
